USE [master]
GO
/****** Object:  Database [HERP]    Script Date: 3/27/2017 5:55:52 PM ******/
CREATE DATABASE [HERP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HERP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\HERP.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HERP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\HERP_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HERP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HERP]
GO
/****** Object:  User [userhcos]    Script Date: 3/27/2017 5:55:52 PM ******/
CREATE USER [userhcos] FOR LOGIN [userhcos] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [hcos]    Script Date: 3/27/2017 5:55:52 PM ******/
CREATE USER [hcos] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[SYSTEMUSER]    Script Date: 3/27/2017 5:55:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SYSTEMUSER](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaNhanVien] [varchar](32) NULL,
	[Ho] [nvarchar](32) NULL,
	[Ten] [nvarchar](64) NULL,
	[MatKhau] [nvarchar](256) NULL,
	[GioiTinh] [int] NULL,
	[NgaySinh] [date] NULL,
	[NoiSinh] [nvarchar](128) NULL,
	[DiaChiThuongTru] [nvarchar](128) NULL,
	[DiaChiTamTru] [nvarchar](128) NULL,
	[HinhAnh] [nvarchar](128) NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
